body { 
    background-color: #444446;
    background-image: url(img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    margin-bottom: 4rem;
}

.title {
    font-size: 100px;
    color: #dfdffa;
    font-family: arial;
    text-align: center;
    margin-top: 25rem;
}

h1 {
    font-size: xx-large;
    color: springgreen;
    padding-top: 45rem;
    word-wrap: break-word;
    max-width: 400px;
    font-family: arial;
    text-align: center;
    margin: auto;
}

.main-content {
    padding-top: 2.5rem;
    word-wrap: break-word;
    max-width: 300px;
    font-family: arial;
    text-align: center;
    margin: auto;
    color: aliceblue;
}