body { 
    background-color: #444446;
	background: linear-gradient(180deg, rgba(111,111,111,1) 0%, rgba(82,82,82,1) 50%, rgba(58,58,58,1) 100%);background: linear-gradient(180deg, rgba(51,51,51,1) 0%, rgba(36,35,35,1) 50%, rgba(58,58,58,1) 100%);background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(36,35,35,1) 50%, rgba(58,58,58,1) 100%);background: linear-gradient(180deg, rgba(38,50,23,1) 0%, rgba(58,58,58,1) 100%);background: linear-gradient(180deg, rgba(38,48,27,1) 0%, rgba(58,58,58,1) 100%);background: linear-gradient(180deg, rgba(34,41,26,1) 0%, rgba(58,58,58,1) 100%);background: linear-gradient(180deg, rgba(54,54,54,1) 0%, rgba(24,24,24,0.7343312324929971) 100%);background: linear-gradient(180deg, rgba(54,54,54,1) 0%, rgba(24,24,24,1) 100%);
		margin:0;
		color: aliceblue;
    font-family: arial;
		font-size:16px;
		line-height: 130%;
}

header h1 {
    font-size: 100px;
    color: #dfdffa;
    font-family: arial;
    text-align: center;
		text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
header p a{
	text-shadow: 1px 1px 2px rgb(0, 0, 0);
	background-color: rgba(223, 223, 250, 0.3);
	padding:1rem;
	border-radius: 1rem;

}
header {
	color: #dfdffa;

}

section {
	  padding-top: 2.5rem;
    word-wrap: break-word;
    max-width: 300px;
		width:70%;
    text-align: center;
    margin: auto;
		min-height:100vh;
}

header {
	background-image: url(img.png);
	background-size: cover;
	height: 60vh;
	margin:0;
	padding-top: 40vh;
	text-align: center;

}


a {
	text-decoration: none;
	color:inherit;
	padding:3px;
}
a:active, a:hover {
	text-decoration: underline;
}
header a:active, 
header a:hover {
	text-decoration: underline;
	font-size:103%; 
}

menu {
	right:0;
	top:0;
	position:sticky;
	margin:3rem 2rem 0 0 ;
	border:solid aliceblue 1px;
	width:fit-content;
	padding:10px 20px;;
	margin-left:auto;
	background-color:rgb(80, 80, 85);
}

menu li {
	list-style-type:None;
	text-transform:uppercase;
}

